.th {
    padding: 0;
  }
  
  .control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  
  .icon {
    width: 21px;
    height: 21px;
    border-radius: 21px;
  }

  .tableRow {
    position: relative;
  }
  
  .closeButton {
    right: 10px;
    top: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Prevent hover interaction unless visible */
  }
  
  .tableRow {
    position: relative; /* Required for .closeButton positioning */
  }
  
  .tableRow:hover .closeButton {
    opacity: 1;
    pointer-events: auto; /* Allow interaction when visible */
  }
  
  .searchBar {
    width: 300px; /* Adjust width */
    position: absolute; /* Allow precise positioning */
    top: 8px; /* Adjust vertical position */
    right: 10px; /* Adjust horizontal position */
    z-index: 10; /* Ensure it stays above other elements if needed */
  }
  
  .breedDropdown {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #495057;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .breedDropdown:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }